@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ostrich_Sans';
  src: local('ostrich-sans'),
    url(../public/fonts/ostrich-sans/ostrich-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  src: local('Lato2OFL'), url(../public/fonts/Lato2OFL/Lato-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ostrich_Sans_Black';
  src: local('ostrich-sans'),
    url(../public/fonts/ostrich-sans/OstrichSans-Black.otf) format('truetype');
}
.pointer{
  cursor: pointer;
}
.image-cover{
  object-fit: cover;
}


